$backgroundColor: #ededed;
$backgroundColorStress: white;

$mainColor: #1989FA;
$colorMinor: #aaa;

$yyBackgroundColor: #eff7ff;

.v-md-editor-preview {
  p {
    margin: 5px 0;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 5px 0;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.15em;
  }

  h1 {
    font-size: 1.1em;
  }

  h1 {
    font-size: 1.05em;
  }

  blockquote {
    padding: 4px 13px;
    background-color: $yyBackgroundColor;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      background-color: $mainColor;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 16px;
  }

  ul {
    list-style-type: disc;
    padding-left: 14px;
  }

  table {
    margin-top: 10px;
  }
}